<ion-view view-title="{{actor[0].nombre_actores}}">

    <ion-content class="list card">
		<div class="item">
			<h2>{{actor[0].nombre_actores}}</h2>
			<p style="font-size: 12px;">{{actor[0].profesion_actores}}</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="{{actor[0].img_actores}}" style="border-radius: 7px;">
			<p align="justify">
		  		<b>Biografía:</b> {{actor[0].biografia_actores}}
			</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
		  		<i class="icon ion-social-facebook"></i>
		  		Facebook
			</a>
			<a class="tab-item" href="#">
		  		<i class="icon ion-social-twitter"></i>
		  		Twitter
			</a>
			<a class="tab-item" href="#">
		  		<i class="icon ion-social-whatsapp"></i>
		  		Whatsapp
			</a>
		</div>
	</ion-content>


</ion-view>