<ion-view view-title="{{chat.name}}">

    <ion-content class="list card">
		<div class="item item-avatar">
			<img src="{{chat.img}}">
			<h2>{{chat.lugar}}</h2>
			<p>{{chat.fecha}} - {{chat.hora}} <i class="icon ion-clock"></i></p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="{{chat.img}}" style="border-radius: 7px;">
			<p>
		  		<b>Entradas a la venta en:</b> {{chat.tickera}}
			</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
		  		<i class="icon ion-social-facebook"></i>
		  		Facebook
			</a>
			<a class="tab-item" href="#">
		  		<i class="icon ion-social-twitter"></i>
		  		Twitter
			</a>
			<a class="tab-item" href="#">
		  		<i class="icon ion-social-whatsapp"></i>
		  		Whatsapp
			</a>
		</div>
	</ion-content>


</ion-view>
