<ion-view view-title="Actores">
    <ion-content class="padding">
    
        <!--<div class="list">

            <a class="item item-thumbnail-left item-icon-right" ng-repeat="chat in chats" href="#">
              <img ng-src="{{chat.face}}">
              <br>
              <h2>{{chat.name}}</h2>
              <p>{{chat.lastText}}</p>
            </a>

        </div>-->

        <div class="bs-callout bs-callout-default">
            <div class="row">
                <div class="col">
                    <img src="img/ionic.png" width="75px;" height="75px;">
                </div>
                <div class="col col-75 padding">
                    <h4>Default Callout</h4>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-callout bs-callout-primary">
            <div class="row">
                <div class="col">
                    <img src="img/ionic.png" width="75px;" height="75px;">
                </div>
                <div class="col col-75 padding">
                    <h4>Default Callout</h4>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-callout bs-callout-success">
            <div class="row">
                <div class="col">
                    <img src="img/ionic.png" width="75px;" height="75px;">
                </div>
                <div class="col col-75 padding">
                    <h4>Default Callout</h4>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-callout bs-callout-info">
            <div class="row">
                <div class="col">
                    <img src="img/ionic.png" width="75px;" height="75px;">
                </div>
                <div class="col col-75 padding">
                    <h4>Default Callout</h4>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-callout bs-callout-warning">
            <div class="row">
                <div class="col">
                    <img src="img/ionic.png" width="75px;" height="75px;">
                </div>
                <div class="col col-75 padding">
                    <h4>Default Callout</h4>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-callout bs-callout-danger">
            <div class="row">
                <div class="col">
                    <img src="img/ionic.png" width="75px;" height="75px;">
                </div>
                <div class="col col-75 padding">
                    <h4>Default Callout</h4>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </div>
  
    </ion-content>
</ion-view>
