<ion-view view-title="Gira">
	
	<ion-nav-buttons side="right">
        <div class="row button-acerca">
            <div class="col button-acerca button-acerca-vd">
            	<a class="button button-icon button-clear ion-information-circled" href="#/tab/acerca-gira"></a>
            </div>
        </div>

    </ion-nav-buttons>

	<ion-content>
		
		<ion-refresher pulling-icon="ion-plane" on-refresh="RecargarGira()"></ion-refresher>
		
		<div class="view">
			<ul class="card__list">
				<a class="gira-ruta" ng-repeat="gira in giras" href="#/tab/gira/{{gira.id_gira}" ng-click="id_gira({{ gira.id_gira }})">
					<li class="card__item-gira card__item--yellow">
						<div class="card__info">
	                        <div class="info-player">
	                            <p class="img-gira"><img ng-src="{{gira.img_gira}}" style="border-radius: 50%;"></p>
	                            <p>
	                            	<small style="font-size: 12px;">{{gira.estado_gira}}</small>
	                            	<br>
	                            	<small style="font-size: 14px;">{{gira.lugar_gira}}</small>
	                            </p>
	                        </div>
	                        <div class="info-place"><sup>{{gira.hora_gira}}</sup></div>
	                    </div>
					</li>
				</a>
			</ul>
		</div>
	
	</ion-content>
</ion-view>
