<ion-view view-title="Actores">
    <ion-content class="padding list">
    
        <!--<div class="list">

            <a class="item item-thumbnail-left item-icon-right" ng-repeat="chat in chats" href="#">
              <img ng-src="{{chat.face}}">
              <br>
              <h2>{{chat.name}}</h2>
              <p>{{chat.lastText}}</p>
            </a>

        </div>-->

        <li class="item">
            <div class="row">
                <img src="img/avatar.png" width="75px;" height="75px;">
                <div class="col col-75 padding">
                    <h2>Default Callout</h2>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <img src="img/avatar.png" width="75px;" height="75px;">
                <div class="col col-75 padding">
                    <h2>Default Callout</h2>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <img src="img/avatar.png" width="75px;" height="75px;">
                <div class="col col-75 padding">
                    <h2>Default Callout</h2>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <img src="img/avatar.png" width="75px;" height="75px;">
                <div class="col col-75 padding">
                    <h2>Default Callout</h2>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="row">
                <img src="img/avatar.png" width="75px;" height="75px;">
                <div class="col col-75 padding">
                    <h2>Default Callout</h2>
                    <div class="row">
                        <div class="col size-icon"><i class="ion-social-instagram-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-twitter-outline"></i></div>
                        <div class="col size-icon"><i class="ion-social-facebook-outline"></i></div>
                        <div class="col size-icon"></div>
                    </div>
                </div>
            </div>
        </li>
          
    </ion-content>
</ion-view>
