<ion-view view-title="Acerca">
	<ion-content scroll="false" class="acerca">
        
            <div class="box-acerca">
                <div class="box-acerca-img">    
                    <img class="acerca-img" src="img/logo.png">
                </div>

                <diV class="box-acerca-text">
                    <p>Versión 0.0.2</p>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <a class="redes-acerca" href="#" browse-to="https://www.facebook.com/Hispanomedio">
                                <i class="icon ion-social-facebook"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="redes-acerca" href="#" browse-to="https://twitter.com/HispanoMedio">
                                <i class="icon ion-social-twitter"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="redes-acerca" href="#" browse-to="https://instagram.com/HispanoMedio">
                                <i class="icon ion-social-instagram"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="redes-acerca" href="#" ng-click="shareAnywhere()">
                                <i class="icon ion-android-share-alt"></i>
                            </a>
                        </div>
                        <div class="col"></div>
                    </div>
                    
                    <br>

                    <img class="ks-img" src="img/ks.JPG">
                    <p>©2015 Key Systems</p>

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <a class="redes-acerca" href="#" browse-to="https://www.facebook.com/KeySystems.ca">
                                <i class="icon ion-social-facebook"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="redes-acerca" href="#" browse-to="https://twitter.com/keysystemsca">
                                <i class="icon ion-social-twitter"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="redes-acerca" href="#" browse-to="https://instagram.com/keysystemsca/">
                                <i class="icon ion-social-instagram"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="redes-acerca" href="#" ng-click="shareAnywherekey()">
                                <i class="icon ion-android-share-alt"></i>
                            </a>
                        </div>
                        <div class="col"></div>
                    </div>
                </diV>
            </div>
        
    </ion-content>
</ion-view>