<ion-view view-title="Contacto">
  	
  	<ion-nav-buttons side="right">
        <div class="row button-acerca">
            <div class="col button-acerca button-acerca-vd">
            	<a class="button button-icon button-clear ion-information" href="#/tab/acerca"></a>
            </div>
        </div>  
    </ion-nav-buttons>

  	<ion-content class="padding">
   		
		<img src="img/Flayer800x800pxl.jpg" style="width: 100%;">
		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#" browse-to="https://twitter.com/HispanoMedio">
		  		<i class="icon ion-social-twitter"></i>
		  		Twitter
			</a>
			<a class="tab-item" href="#" browse-to="https://instagram.com/HispanoMedio">
		  		<i class="icon ion-social-instagram"></i>
		  		Instagram
			</a>
			<a class="tab-item" href="#" ng-click="shareAnywhere()">
		  		<i class="icon ion-android-share-alt"></i>
		  		Compartir
			</a>
		</div>
		<div class="list icon-custon">
		 	<a class="item item-icon-left" href="mailto:  hispanomedios@gmail.com">
    			<i class="icon ion-email"></i>
    			<p>hispanomedios@gmail.com</p>
  			</a>
		 	<a class="item item-icon-left" href="tel: 0261-7518164">
		 		<i class="icon ion-android-call"></i>
			    <p>0261-7518164</p>
			</a>
			<a class="item item-icon-left" href="tel: +58 424-6537442">
		 		<i class="icon ion-android-call"></i>
			    <p>+58 424-6537442</p>
			</a>
		</div>
  	</ion-content>
</ion-view>
