<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Chats Tab -->
	<ion-tab class="color-amarillo" title="Gira" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/gira">
		<ion-nav-view name="tab-gira"></ion-nav-view>
	</ion-tab>

 	<!-- Dashboard Tab -->
  	<ion-tab class="color-azul" title="Talentos" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/actores">
    	<ion-nav-view name="tab-actores"></ion-nav-view>
  	</ion-tab>

  	<!-- Account Tab -->
  	<ion-tab class="color-red" title="Contacto" icon-off="ion-ios-email" icon-on="ion-ios-email" href="#/tab/account">
    	<ion-nav-view name="tab-account"></ion-nav-view>
  	</ion-tab>


</ion-tabs>
