<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Chats Tab -->
  <ion-tab title="Gira" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/gira">
    <ion-nav-view name="tab-gira"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Actores" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/actores">
    <ion-nav-view name="tab-actores"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Contacto" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
